.reveal section img {
    margin-bottom: -50px;
}
.reveal .slides > section > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

figcaption {
    display: none;
}
