.reveal section img {
    margin-bottom: -50px;
}
.reveal .slides > section > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

figcaption {
    display: none;
}

.reveal .negpad li:not(:last-child) {
    margin-bottom:0px  !important;
}